.container{
    position: relative;
    min-width: 1200px;
    min-height: 600px;
    overflow: auto;
}
header{
    height: 64px;
    line-height: 64px;
    padding: 0 200px;
    background: #fff;
}
header .logo{
    height: 40px;
    margin-top: 12px;
}
header .fl{
    font-size: 16px;
}
.register{
    background: url('../../../static/img/zc-icon.png') left center no-repeat;
    background-size:22px 21px;
    padding-left: 24px; 
    cursor: pointer;
}
.login-area{
    width: 100%;
    position: relative;
    min-width: 1200px;
    height: 600px;
    background: url('../../../static/img/banner.png') center center no-repeat;
    background-size: cover;
}
.login-form{
    position: absolute;
    left: 50%;
    top:200px;
    background: #fff;
    padding: 50px;
    border-radius: 8px;
    padding-bottom: 30px;
}
.login-form h2{
    font-size: 16px;
    margin-bottom: 22px;
}
.code-btn{
    position: absolute;
    right: 0;
    top:4px;
    padding: 10px;
    border: none;
    background: transparent;
    color: #F47575;
    font-size: 12px;
    font-weight: normal;
}
.el-button.is-disabled:hover{
    background: none;
    border: none;
}
.el-input{
    width: 280px;
    margin-right: 0;
    border-radius: 100px;
}
.el-form-item {
    margin-bottom: 22px;
    position: relative;
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    background: #fff !important;
}
.footer{
    background: #39393B;
    overflow: hidden; 
    padding: 0 200px;
    text-align: center;
    font-size: 12px;
    color: #FFFFFF;
    height: 80px;
    line-height: 80px
}
.footer .logo{
    height: 40px;
    margin-top: 20px;
}


