.container{
    width: 100%;
    box-sizing: border-box;
}
.content-title{
    padding-left: 20px;
    line-height: 40px;
    font-size: 16px;
    background: #f1f1f1;
}
.in-content{
    padding-left: 20px;
    box-sizing: border-box;
    margin-top: 20px;
    width: 800px;
}
.block{
    display: block;
}
.el-form-item {
    margin-bottom: 22px;
}
.radio{
    margin:12px 10px 0 0 ;
}
.el-dialog .el-form-item{
    margin-bottom:6px;
}
.shadow{
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.4);
}
.video-window{
    width: 500px;
    /* height: 400px; */
    position: fixed;
    left: 50%;
    margin-left: -250px;
    top: 120px;
    background: #fff;
    text-align: center;
}
.video-window video{
    margin-top: 20px;
    margin-bottom: 20px;
}
.close-icon{
    position: absolute;
    top:10px;
    right: 10px;
    font-size: 24px;
    color: #409EFF;
    cursor: pointer;
}
