.container{
    width: 100%;
    box-sizing: border-box;
}
.content-title{
    padding-left: 20px;
    line-height: 40px;
    font-size: 16px;
    background: #f1f1f1;
}
/* 最近编辑 */
.top-area{
    min-width: 1000px;
    max-width: 1200px;
    border: #e6e6e6 solid 1px;
    padding: 20px;
    overflow: hidden;
    margin: 20px 0 20px 20px;
    box-sizing: border-box;
}
.top-title{
    font-size: 16px;
    color: #409EFF;
}
.lately{
    overflow: hidden;
    margin-top: 10px;
}
.lately .img{
    width: 200px;
    height: 120px;
    position: relative;
    margin-left: 0;
}
.lately .img img{
    width: 100%;
    height: 100%;
}
.lately div{
    max-width: 650px;
    margin-left: 10px;
    float: left;
}
.lately div p{
    overflow: hidden;
    padding-bottom: 10px;
    font-size: 16px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.lately div .type{
    background: #409EFF;
    height: 24px;
    line-height: 24px;
    text-align: center;
    padding: 0 8px;
    font-size: 14px;
    margin-top: 20px;
    color: #fff;
    display: inline-block;
}
.lately div span {
  margin-right: 10px;
}
.lately .lately-btn{
    width: 100px;
    text-align: center;
    line-height: 120px;
    color: #409EFF;
    font-size: 16px;
    cursor: pointer;
}


/* 已发布作品 */
.list{
    overflow: hidden;
    box-sizing: border-box;
}
.index .list{
    min-width: 1000px;
    max-width: 1200px;
    border: #e6e6e6 solid 1px;
    padding: 20px;
    margin: 0 0 20px 20px;
}
.list p{
    margin-bottom: 10px;
}
.top-title{
    font-size: 16px;
    color: #409EFF;
}
