.container{
    width: 100%;
    box-sizing: border-box;
}
.content-title{
    padding-left: 20px;
    line-height: 40px;
    font-size: 16px;
    background: #f1f1f1;
}
/* 最近编辑 */
.top-area{
    min-width: 1000px;
    max-width: 1200px;
    border: #e6e6e6 solid 1px;
    padding: 20px;
    overflow: hidden;
    margin: 20px 0 20px 20px;
    box-sizing: border-box;
}
.top-title{
    font-size: 16px;
}
.lately{
    overflow: hidden;
    margin-top: 10px;
}
.lately .img{
    width: 200px;
    height: 120px;
    position: relative;
    margin-left: 0;
} 
.lately .img img{
    width: 100%;
    height: 100%;
} 
.lately div{
    margin-left: 10px;
    float: left;
}
.lately div p{
    line-height: 20px;
    margin-top: 26px;
    font-size: 16px;
}
.lately div .type{
    background: #409EFF;
    height: 24px;
    line-height: 24px;
    text-align: center;
    padding: 0 8px;
    font-size: 14px;
    margin-top: 20px;
    color: #fff;
    display: inline-block;
}
.lately .lately-btn{
    width: 100px;
    text-align: center;
    line-height: 120px;
    color: #409EFF;
    font-size: 16px;
    cursor: pointer;
}


/* 已发布作品 */
.list{
    overflow: hidden;   
    box-sizing: border-box;
}
.index .list{
    min-width: 1000px;
    max-width: 1200px;
    border: #e6e6e6 solid 1px;
    padding: 20px;
    margin: 0 0 20px 20px;
}
.list p{
    margin-bottom: 10px;
}
.list-item{
    margin-bottom: 10px;
    overflow: hidden;
}
.list-item .time-area{
    width: 100px;
    margin-right: 10px;
    font-size: 14px;
}
.list-item .time{
    font-size: 14px;
}
.list-item .img{
    width: 200px;
    height: 120px;
    position: relative;
    overflow: hidden;
}
.list-item .img img{
    width: 100%;
    height: 100%;
}
.list-item .detail {
    margin-left: 10px;
}
.list-item .detail p{
    margin: 0；
}
.detail p{
    margin-bottom: 15px;
}
.detail .type{
    background: #409EFF;
    height: 24px;
    line-height: 24px;
    text-align: center;
    padding: 0 8px;
    font-size: 14px;
    margin-right: 10px;
    color: #fff;
    display: inline-block;
}
.detail .title{
    font-size: 14px;
}
.detail .tag{
    display: inline-block;
    height: 22px;
    line-height: 22px;
    padding: 0 8px;
    border: #ccc solid 1px;
}
.detail em{
    height: 26px;
    line-height: 26px;
    font-style: normal;
    margin-right: 10px;
}
.out-btn{
    width: 60px;
    text-align: center;
    line-height: 120px;
    cursor: pointer;
    color: #f56c6c;
    font-size: 16px;
}
.block{
    display: block;
    margin-top: 10px;
}