.el-tabs__nav-wrap::after{
    background: transparent !important;
}
.container{
    width: 100%;
    box-sizing: border-box;
}
.video .content-title{
    padding-left: 20px;
    line-height: 40px;
    font-size: 16px;
    background: #f1f1f1;
}
.video .in-content{
    min-width: 1000px;
    max-width: 1200px;
    padding-left: 20px;
    box-sizing: border-box;
}
.video .list{
    border: #e6e6e6 solid 1px;
    overflow: hidden;
    margin-bottom: 20px;
    margin-top: 10px;
}