.el-tabs__nav-wrap::after{
    background: transparent !important;
}
.container{
    width: 100%;
    box-sizing: border-box;
}
.video .content-title{
    padding-left: 20px;
    line-height: 40px;
    font-size: 16px;
    background: #f1f1f1;
}
.video .in-content{
    min-width: 1000px;
    max-width: 1200px;
    padding-left: 20px;
    box-sizing: border-box;
}
.video .list{
    border: #e6e6e6 solid 1px;
    overflow: hidden;
    margin-bottom: 20px;
    margin-top: 10px;
}
.video .item-title{
    background: #ecf5ff;
    height: 30px;
    width: 100%;
    font-size: 0;
    line-height: 30px;
   
}
.video .item-title .module{
    font-size: 14px;
}
.video .list-item{
    margin-bottom: 10px;
    font-size: 0;
    margin: 10px 0 0 0;
    overflow: hidden;
}
.video .module{
    float: left;
    height: 100%;
    font-size: 14px;
    box-sizing: border-box;

}
.video .module.one{
    width: 52%;
    padding-left: 20px;
}
.video .module.two{
    width: 16%;
}
.video .list-item .time{
    font-size: 14px;
}
.video .list-item .img{
    width: 200px;
    height: 120px;
    position: relative;
    overflow: hidden;
}
.video .list-item .img img{
    width: 100%;
    height: 100%;
}
.video .list-item .img  .time{
    position: absolute;
    bottom: 0;
    right: 0;
    background: #000;
    color: #fff;
    font-size: 12px;
    padding: 4px;
    height: 16px;
    line-break: 16px;
}
.video .list-item .detail {
    margin-left: 10px;
}
.video .list-item .detail p{
    margin: 0；
}
.video .detail p{
    margin-bottom: 15px;
    overflow: hidden;
}
.video .detail .title{
    width: 192px;
    overflow: hidden;
    display: inline-block;
}
.video .detail .type{
    background: #409EFF;
    height: 24px;
    line-height: 24px;
    text-align: center;
    padding: 0 8px;
    font-size: 14px;
    margin-right: 10px;
    color: #fff;
    display: inline-block;
}
.video .detail .tag{
    display: inline-block;
    height: 22px;
    line-height: 22px;
    padding: 0 8px;
    border: #ccc solid 1px;
}
.video .detail em{
    height: 26px;
    line-height: 26px;
    font-style: normal;
    margin-right: 10px;
}
.video .red-font{
    color: red;
}
.video .blue-btn{
    color:#409EFF;
    display: inline-block;
    margin-right:10px;
    text-align: center;
    cursor: pointer;
}
.video .red-btn{
    display: inline-block;
    text-align: center;
    cursor: pointer;
    color: red;
}
.video .block{
    display: block;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-right: 20px;
}